 .ulillo-about-who_we_are {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  color:#ebebeb;
}

.ulillo-about {
    
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: justify;
    color:#ebebeb;
}

.ulillo-terms {

  color: white;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  

}

.ulillo-our-process {
  margin: 0px 0px 10px;

  color: #fff;
  font-size: 20px;
  line-height: 3px;
  font-weight: 900;
  text-align: center;

}

.ulillo-processing-letras-iniciales {
  color: #595959;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;

  }

.ulillo-processing-letras-iniciales2 {
  color: #727272;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;

    }

.ulillo-processing-letras-iniciales1 {
  color: #595959;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;


    }

.ulillo-aml {
  color: #595959;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
